/.settings
/.project
/demos
/project.tmproj
/.DS_Store
/projects/scripto-edges/csi
/projects/scripto-edges/.DS_Store
/untitled.bbprojectd
.DS_Store
projects/.DS_Store
projects/g_libs/madrobby-keymaster-c61b3fe.zip
*.sublime-workspace
*.sublime-project