/* MAIN.CSS */
body {
	font-family: Monospace;
	background-color: #f0f0f0;
	margin: 0px;
	background-image:url(../images/bg-screen2.jpg);
	/*overflow: hidden;*/
}

div.fullHeight {
	background-repeat:no-repeat;
	background-position:center bottom;
}

body.screen1 div.fullHeight {
	background-image:url(../images/bg-screen1.jpg);
}

body.screen2 div.fullHeight {
	background-image:url(../images/bg-screen2.jpg);
}

body.screen3 div.fullHeight {
	background-image:url(../images/bg-screen3.jpg);
}

body.screen4 div.fullHeight {
	background-image:url(../images/bg-screen4.jpg);
}

div.fullHeight {
	height:2160px;
	width:1920px;
}