/* General CSS */

body { 
	margin:0px; 
	padding:0px; 
	background:white;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size:.89em;
}

.app {
	display:none;
}


/* 
Display Overrides for debugging or no-JS displays 
*/

body.outline .app.outline {
	display:block;
}

nav {
	position:absolute;
	bottom:0px;
	right:15px;
}

#outline {
	padding:10px;
}
#outline .col {
	float:left;
	position:relative;
	width:300px;
	border-top:2px solid #333333;
	margin-right:20px;
	padding:5px;
	background-color:rgba(240,240,240,.7);
}

#outline .col ol{
	border-top:1px solid #cccccc;
	padding-left:0px;
}
#outline .col ol li{
	clear:both;
	padding-left:0px;
	padding:5px;
	list-style-position: inside;
	border-bottom:1px dotted #dddddd;
}

.destroy { 
	float:right;
}
/* OUTLINE STYLES */
div.app.outline {
	padding:5px 20px;
}

.outline_action {
	padding:4px;
	float:right;
}