/* General CSS */

body { 
	margin:0px; 
	padding:0px; 
	background:white;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size:.89em;
}

.app {
	display:none;
}


/* 
Display Overrides for debugging or no-JS displays 
*/

body.outline .app.outline {
	display:block;
}


/* OUTLINE STYLES */
div.app.outline {
	padding:5px 20px;
}
