body { 
	/*background-color:pink;*/
}

#header {
	background-color:#b8f48c;
	background-color:white;
	background-image:url(admin_media/top.gif); background-repeat:no-repeat;
}

#branding {
	padding-left:14px;
	padding-top:30px;
	padding-bottom:0px;

		float:left;
}
#header h1 {
	color:#6e6f71;
	font-weight:100;
	font-size:24px;
}
#header{
	color:#6e6f71;
}

#user-tools {
	position:absolute;
	padding-left:0px;
	padding-right:20px;
	padding-top:0px;
	padding-bottom:0px;
	top:47px;
	right:0px;
	width:370px;
	float:right;
	}


/*BREADCRUMBS*/
div.breadcrumbs a:link, div.breadcrumbs a:visited, a:link, a:visited, #header a:link, #header a:visited  { 
	color:#f90dae;
}
.module a.addlink:link, .module  a.addlink:visited, .module a.changelink:link, .module a.changelink:visited { 
	color:#127dea;
}
div.breadcrumbs {
	padding:6px;
	padding-top:0px;
	padding-left:26px;
	font-size:11px;
	background:#e5ffe4;
	background:white;
	border-top:1px solid #cacaca;
	border:none;
}


.module h2, .module caption, .inline-group h2 { 
	margin:0; 
	padding:2px 5px 3px 5px; 
	font-size:12px; 
	text-align:left; 
	font-weight:bold; 
	background-color:#6f8081;
	background:#6f8081 url(admin_media/header.gif) top left repeat-x;
	/*background:#96ca50 url(../img/admin/default-bg.gif) top left repeat-x; */
	color:white; 
	padding:8px;
	padding-top:4px;
	padding-bottom:4px;
}
.module {
	margin-bottom:14px;
}
.row1 {
	background:#feffe2;
}

.row1 th, .row1 td, .row2 th, .row2 td  {
	border-bottom:1px dotted #b6c7b3;
}

#changelist th, .module th, .module td {
	padding:8px;
}
h1, h2, h3 {
	color:#6e6f71;
	font-family: Helvetica, Arial, sans-serif;
}
#content h1 {
	font-weight:100;
	padding-left:9px;
	margin-top:30px;
	margin-bottom:6px;
}

.dashboard #content {
	width:auto;
}

.calendar caption {
	padding-bottom:5px;
	text-align:center;
}
.calendar table{
	padding:0px;
	width:100%;
}
a.calendarnav-previous, a.calendarnav-next {
	margin-top:2px;
	margin-right:2px;
	margin-left:2px;
	border:1px solid #b9c1c1;
} 
.calendar table tr td{
	padding:1px;
}