.maincolumn {
	background-color:tan;
}

#navigation {
	background-color:pink;
}
#content {
	background-color:aqua;
}
#footer {
	background-color:yellow;
}
#sidebar {
	background-color:blue;
}
#logo {
	background-color: orange;
}
